extends ../layout

block content
  h1 Edit Proxy
  form(action=`/proxy/${proxy.id}`, method='PUT')
    .form-group
      label(for='host') Host
      input.form-control(type='text', id='host', name='host', value=proxy.host, required)
    .form-group
      label(for='credentials') Credentials
      input.form-control(type='text', id='credentials', name='credentials', value=proxy.credentials, required)
    input.btn.btn-primary(type='submit', value='Update')
