.header
  h1= title
  button.btn.btn-success.rounded-pill(type="button") Add New +
  button.btn.btn-outline-secondary.ms-3.rounded-pill(type="button") Info
  button.btn.btn-outline-secondary.ms-3.rounded-pill(type="button") Stats
  button.btn.btn-outline-secondary.mx-3.rounded-pill(type="button") Log
